.navbar-container {
  max-width: 100vw;
  height: 100px;
  padding: 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-tertiary-100);
}

.navbar-container--active {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  height: 100vh;
}

.navbar-main {
  position: relative;
  display: flex;
  gap: 20px;
}

.navbar-items-list {
  list-style-type: none;
  padding: 0;

  display: flex;
  gap: 32px;
}
.navbar-items-list:hover > .navbar-item:not(:hover) {
  color: var(--white-accent-80);
}

.navbar-item {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;

  color: var(--white-accent);
  transition: color linear 0.1s;
}

.navbar-link {
  text-decoration: none;
  color: inherit;

  transition: color linear 0.1s;
}
.navbar-link:hover {
  color: var(--white-accent);
}

.additional-ctas-list {
  list-style-type: none;
  gap: 20px;
  display: flex;
}

.additional-cta {
  width: 45px;
  height: 45px;
}

.additional-cta-link {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #212529;
  color: #f8f9fa;

  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.navbar-mobile-control {
  height: auto;
  align-self: center;
  margin-left: auto;
  color: var(--white-accent);
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    padding: 0 25px;
  }

  .navbar-main {
    width: 100%;
    align-self: flex-start;
    margin-top: 23.15px;
  }

  .navbar-items {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
  }
  .navbar-items--active {
    display: flex;
  }

  .navbar-mobile-control {
    display: block;
  }

  .navbar-items-list {
    flex-direction: column;
    align-items: center;
  }

  .additional-ctas-list {
    display: none;
  }
}
