.footer-container {
  display: flex;

  height: 80px;
  padding: 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f8f9fa;
}

.copyright-text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;

  color: #212529;
}

.footer-ctas-container {
  display: flex;
  align-items: center;
  gap: 45px;

  padding: 0;
}

.footer-cta-link {
  color: #6c757d;

  text-decoration: underline;
}
